requests==2.2.1
requests-oauthlib==0.4.0
simplejson==3.4.0
urllib3==1.7.1
virtualenv==1.9.1
virtualenv-clone==0.2.4
virtualenvwrapper==4.0
git+git://github.com/zulip/python-zulip.git@2ddd1127506c4e4c91954b8883c592c118552203
